<h1> Materials, for administrative use only </h1>

<p> Here should be a full list of the materials in the app </p>

<br />
<h2> Materials </h2>

<table>
  <tr>
    <th> Nombre </th>
    <th> Referencia </th>
  </tr>
  <% @mats.each do |material| %>
  <tr>
    <td><%= link_to material.name, material %></td>
    <td><%= material.reference %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Nuevo', "materials/new" %>
