// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 2cm;
}


.table, th, td{
  border: 1px solid black;

}

.table{

}

.prodInfo{
  margin-left: 20px;
}

.process_descr{
  margin-left: 20px;
  border-style:solid;
  padding: 10px;
  max-width: 400px;
}

.lote_descr{
  background-color: #ccc;
}